.sec1 {
    margin: 0;
}

body {
    margin: 0;
}

.yuy {
    background-image:linear-gradient(to bottom, rgb(19, 18, 18),rgba(66, 63, 63, 0.425) 50%), url(/background/istockphoto-1424987910-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 65vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag {
    color: white;
    font-size: 38px;
    margin: 15px;
    font-family: jay;
}

  /* Style for dropdown wrapper */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button styling */
.dropdown-button {
    cursor: pointer;
    margin: 30px;
    position: fixed;
    background-color: white;
}

/* Dropdown content styling */
.dropdown-content {
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #faf8f8;
    z-index: 1;
    box-shadow: 3px 3px 15px black;
    right: 0;
    width: 60%;
    padding: 15px;
    top: 0;
    position: fixed;
    height: 120%;
    max-height: 120%;
    display: none; /* Hide by default */
}

.contenttt {
    margin-top: 35px;
    margin-bottom: 15px;
}

.dropdown div:first-child {
    padding: 5px;
    justify-content: right;
    display: flex;
}

/* Cancel button styling */
.cancel-button {
    padding: 15px;
    justify-content: right;
    display: flex;
}
.videos {
    margin-top: 60px;
}

.cancel-button img {
    width: 30px; /* Adjust size as needed */
    height: auto;
    position: fixed;
}

@font-face {
    font-family: jay;
    src: url(/static/Platypi-SemiBoldItalic.ttf);
}

@font-face {
    font-family: text;
    src: url(/static/Platypi-Regular.ttf);
}

.iccc {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.iccc img {
    background-color: rgb(4, 48, 4);
    width: 40px;
    margin: 10px;
    border-radius: 5px;
}

/* Style for the active link */
.contenttt a.active {
    text-shadow: 5px 5px 15px rgb(4, 48, 4);
    color: rgb(4, 48, 4); /* Optional: change text color for better visibility */
}

.Vision {
    font-size: 14px;
    padding: 8px;
    color: #888686;
    cursor: default;
    font-family: yay;
}

.dropdown-content a {
    display: block;
    font-family: jay;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border-radius: 10px;
}

.contenttt a:hover {
    text-shadow: 1px 1px 3px rgb(4, 48, 4);
    background-color: #ddd;
}

/* Hidden class to hide elements */
.hidden {
    display: none;
}

/* Visible class to show elements */
.visible {
    display: flex;
}


        .info a:hover {
            text-shadow: 1px 1px 3px rgb(4, 48, 4);
            background-color: #ddd;
        }

.info .whatsapp {
    font-size: 16px;
}

.info .mail {
    font-size: 16px
}

.intro {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: 5%;
}

@font-face {
    font-family: fnt;
    src: url(/static/Inconsolata_SemiCondensed-ExtraLight.ttf);
}

.int {
    font-family: fnt;
    margin-bottom: 10px;
    font-size: 30px;
}

.slider {
    width: 98%;
}

.duction {
    margin-bottom: 15px;
    font-family: gug;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    text-shadow: 2px 2px gray;
}

.uss {
    font-family: gug;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.about-content {
    padding: 20px;
}

.gr {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: gug;
    src: url(/static/Inconsolata_UltraCondensed-ExtraLight.ttf);
}

.slides {
    display: flex;
    font-family: jay;
    transition: transform 0.5s ease-in-out;
}

.slidde img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.sliddes {
    display: flex;
    font-family: jay;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;

}

.slidde {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;   
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slidde div:first-child {
    width: 93%;
    padding: 3%;
    background-color: rgb(241, 238, 238);
    border-radius: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgb(171, 171, 179);
}

.prev {
    margin-right: 70px;
}

.bint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.next {
    margin-right: 20px;
}


.prev, .next {
    font-family: jay;
    width: 30px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    height: 30px;
}
.priv, .nect {
    font-family: jay;
    width: 100px;
    background-color: transparent;
    color: black;
    font-size: 24px;
    border: none;
    height: 30px;
}



.impacts div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-align: center;
    padding: 15px 0 15px 0;
}

.sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.impacts div span {
    font-size: 42px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}
.videos {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease;
}
video {
    width: 100%;
    flex-shrink: 0;
}
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.controls button {
    background: rgba(110, 106, 106, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sec7 div {
    padding: 15px;
    font-size: 52px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(4, 48, 4);
}

.co {
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 24px;
    text-shadow: 3px 3px 3px rgb(236, 6, 6);
}

.gref {
    margin-bottom: 15px;
}

.coco a {
    text-decoration: none;
    color: white;
}

.coco a:hover {
    color: blue;
}

.cont div {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 26px;
}

.cont {
    background-color: rgb(0, 0, 0);
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}